## INPUTS
data_a=${inputSequence1}
data_b=${inputSequence2}  
reference_bundle=${referenceBundle}

## INPUT PARAMETERS
barcode=${inputBarcode} 
cleanup=${cleanupParameter}

echo "Clean up parameter is now set to:"
echo ${cleanup}

## PRE-PROCESSING INPUTS

# gunzip input files if needed
data_ext="${data_a##*.}"
if [ ${data_ext} = "gz" ]; then gunzip ${data_a}; data_a=${data_a%.*}; fi
data_ext="${data_b##*.}"
if [ ${data_ext} = "gz" ]; then gunzip ${data_b}; data_b=${data_b%.*}; fi

# untar reference bundle
tar -xvf ${reference_bundle}
ref=`echo "$reference_bundle" | sed 's/.tar//g'`
reference=${ref}.fa
dictionary=${ref}.dict

# Fixed parameters
n=23					# number of cores to use per function

## MAIN FUNCTIONS

## Generate index for forward reads
bwa aln -t ${n} ${reference} ${data_a} > aln_a.sai

## If the reads are not paired, simply run samse, otherwise build the sam index for the mates and align them with sampe
if [ -z ${data_b} ]
    then bwa samse ${reference} aln_a.sai ${data_a} | samtools view -bhS -@${n} - | samtools sort -@${n} - -o out_fasta_sorted.bam
else
    bwa aln -t ${n} ${reference} ${data_b} > aln_b.sai
    bwa sampe ${reference} aln_a.sai aln_b.sai ${data_a} ${data_b} | samtools view -bhS -@${n} - | samtools sort -@${n} - -o out_fasta_sorted.bam
fi

java -Xmx32g -jar $TACC_PICARD_DIR/picard.jar AddOrReplaceReadGroups INPUT=out_fasta_sorted.bam OUTPUT=${barcode}.aln.bam RGLB=1 RGPL=illumina RGPU=all RGSM=${barcode} VALIDATION_STRINGENCY=SILENT

samtools index ${barcode}.aln.bam

# Clean up
if [ ${cleanup} ]; then echo "Cleaning up input and intermediate files"
	rm ${data_a}; rm ${data_b}										# remove inputs
	rm aln_*.sai; rm out_fasta_sorted.bam							# remove intermediate files
	rm ${reference_bundle}; rm ${reference}; rm ${dictionary} 		# remove reference files
	rm ${reference}.fai; rm ${reference}.amb; rm ${reference}.ann; 	# remove reference files
	rm ${reference}.bwt; rm ${reference}.pac; rm ${reference}.sa	# remove reference files
else
	echo "Skipping clean up"
fi